@model IEnumerable<EF6_QueryTaker.Models.Proxies.UserProxy>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles View</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            IsAdmin
        </th>
        <th>
            IsEngineer
        </th>
        <th>
            IsUser
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.IsAdmin)</td>
        <td>@Html.DisplayFor(modelItem => item.IsEngineer)</td>
        <td>@Html.DisplayFor(modelItem => item.IsUser)</td>
        <td style="text-align:right;">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
